.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.center {
 TEXT-ALIGN: center
}
.container {
  display: block;
  align-items: center;
  justify-content: center;
 
}