@font-face {
  font-family: 'Fraunces';
  src: url('fonts/Fraunces.ttf') format('truetype-variations');
  font-weight: 100 900;
}
html, body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
}

body{
  background-color: #F0EEE9;
  color: #1f1f1f;
  font-family: 'Fraunces', sans-serif;
  text-align: center;
  font-variation-settings: 'WONK' 0;
}

h1{
  font-size: 6em;
  width:50%;
  left:50%;
  transform: translateX(-50%);
  position: absolute;
  top:10px;
  text-transform: uppercase;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  color: inherit;
  text-decoration: none;
  transition: font-weight 500ms;
}
a:hover{
  font-weight: 700;
  font-variation-settings: 'WONK' 1;
  
}
section{
  height:100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue{
  background-color: #0a1557;
  color: #F0EEE9;
}
.bottom{
  position: absolute;
  bottom: 10px;
  left:50%;
  transform: translateX(-50%);
}
@media (max-width: 600px) {h1{ font-size: 16vw; width:90%; } }
